<table class="table">
    <thead>
        <tr>
            <td scope="col">Id</td>
            <td scope="col">Produto</td>
            <td scope="col">Descrição</td>
            <td scope="col">Foto</td>
            <td scope="col">Preço</td>
            <td scope="col">Editar</td>
            <td scope="col">Excluir</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngfor="let produto of produtos">
            <th  scope="row">{{produto.Id}}
            </th>
            <td>{{produto.produto}}</td>
            <td>{{produto.descricao}}</td>
            <td><img mat-card-image src="./assest/img/{{produto.Foto}}" alt="produto"></td>
            <td>{{produto.Preco | currency: "BRL"}}</td>
            <td><a class="btnbtn-primary" routerLink="/restrito/editar/" role="button">Editar</a></td>
            <td><a class="btnbtn-danger" role="button" (click)="excluir(produto.Id)">Excluir</a></td>
        </tr>
    </tbody>
</table>